@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#000000;/*#0000000  #f6f6f6  #22d4fd*/
    --color-secundario:#F6F6F6;
    --color-terciario:#22D4FD;
    --fuente-monserrat: "Montserrat",sans-serif;
    --fuente-krona:"Krona One",sans-serif;
    --color-hover:#272727;
}

*{
    padding: 0;
    margin: 0;
}


body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 10%;
}

.header_menu{
    display: flex;
    gap: 80px;
}

.header_menu_link{
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.titulo-destaque{
    color: var(--color-terciario);
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 4% 10%; 
    justify-content: space-between;
    gap: 82px;
}

.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column ;
    gap: 40px;
}

.presentacion_contenido_titulo {
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.presentacion_contenido_parrafo{
    font-size: 1.5rem;
    font-family: var(--fuente-monserrat);
}

.presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_boton_link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;

}

.presentacion_enlaces_subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;

}

.presentacion_boton_link:hover{
    background-color: var(--color-hover);
    font-size: 2rem;
}

.footer{
    padding: 24px;
    background-color: var(--color-terciario);
    color: var(--color-primario);
    text-align: center;
    font-family:var(--fuente-monserrat) ;
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion_imagen{
    width: 50%;
}

@media (max-width:1200px){

.presentacion{
    flex-direction: column-reverse;
    padding: 5%;
}
.header{
    padding: 10%;
}
.header_menu{
    justify-content: center;
}
.presentacion_contenido{
    width: 100%;
}
.presentacion_boton_link{
    width: auto;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

}